<nav>
    <div class="nav-wrapper white">
      <a href="/" class="brand-logo black-text p-1">Logo</a>
      <a href="" data-target="mobile-side" class="sidenav-trigger black-text"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="" class = "black-text">Home</a></li>
        <li><a href="" class = "black-text">Blogs</a></li>
      </ul>
    </div>
  </nav>
  <ul class="sidenav" id="mobile-side">
    <li><a href="/" class = "black-text">Home</a></li>
    <li><a href="" class = "black-text">Blogs</a></li>
  </ul>